body {
  background-color: #FFF8F0;
  max-width: 100%;
}

.header {
  background-color: #92140C;
  background: url("https://png.pngtree.com/element_pic/00/16/09/1257d6b36eebd4f.jpg") repeat;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #111D4A;
  flex-direction: column;
  padding: 60px 0;
  align-items: center;
}


.ageinputs input{
  width:70px;
}
.nameinputs input{
  width:150px;
}
.rule{
  margin: 7px;
  background: #d6d5d5;
  padding: 10px 50px;
}
.ruleOptions button{
  margin: 0px 10px;
  font-size: 16px;
  background: blue;
  border-radius: 12px;
  padding: 2px 20px;
  width: 100px;
  color:white;
}
button.searchbutton{
  background:#e4601f;
}
.ex{
  color:red;
}